/* Styling for "hero" seksjonen */
.hero-section {
    background-color: var(--bg-dark);
}

.hero-section .content {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 3em;
    margin-top: 4em;
}

.hero-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.hero-text-container h2 {
    text-align: left;
}

.hero-text-container p {
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

.hero-text-container span {
    font-weight: 300;
    letter-spacing: 1px;
}

.hero-right {
    flex: 3;
}

.hero-image-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    aspect-ratio: 4 / 3;
}


/* Styling for ferdigheter seksjonen*/
.specializations-section {
    background-color: var(--bg);
}

.specializations-section > .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4em 0;
    gap: 3em;
}

.specialization-container {
    background: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
    border: 3px solid var(--border-muted);
    padding: 0.5em 1.25em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "box-2 box-1"
    "box-3 box-3";
}
.specialization-container:hover {
    background: linear-gradient(15deg, var(--bg) 15%, var(--bg-light));
}

.specialization-container * {
    text-align: left;
}

/* Prosent teksten */
.specialization-container span {
    display: flex;
    align-items: center;
    transition: 0.1s ease;
}
.specialization-container:hover span {
    color: var(--secondary);
    transform: scale(1.1);
}

.specialization-container p {
    font-weight: 300;
    word-spacing: 2px;
}


/* Media queries for å gjøre nettsiden mere responsive */
/* Fjerner bilde ved toppen når skjermen er mindre en 1050px bred */
@media (max-width: 1050px) {
    .hero-section .content {
        grid-template-columns: 1fr;
        margin: 4em 0;
    }

    .hero-right {
        display: none;
    }
}

/* Endrer layouten til "feridgheter" seksjonen over til vertikal istedt for horisontal når skjermen er mindre en 700px bred, sentrerer også alt sammen lit mer */
@media (max-width: 700px) {
    .specializations-section .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 3em;
        align-content: center;
    }

    .specialization-container {
        grid-template-columns: 1fr auto;
    }
}

/* Putter overskriften i midten når skjermen er mindre en 400px bred*/
@media (max-width: 400px) {
    .hero-text-container h2 {
        text-align: center;
    }
}