.hero-section {
    background-color: var(--bg-dark);
}

.hero-section > .content {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin: 4em 0;
}

.hero-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.hero-text-container h2 {
    text-align: left;
}

.hero-text-container p {
    text-align: left;
    margin-bottom: 0.5em;
}

.hero-right {
    flex: 3;
}

.hero-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    border-radius: 25px;
    object-fit: cover;
    background-color: var(--border-muted);
}

.specializations-section {
    background-color: var(--bg);
}

.specializations-section > .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    padding: 4em 0;
}

.specialization-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "box-2 box-1"
    "box-3 box-3";
}

.specialization-container * {
    text-align: left;
}

.specialization-container span {
    display: flex;
    align-items: center;
}



/* Media queries for å endre layout basert på skjerm størrelse */
@media (max-width: 800px) {
    .hero-right {
        display: none;
    }
}

@media (max-width: 550px) {
    .email-form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr auto;
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-3"
        "box-4";
        margin-top: 0.5em;
    }

    .message-input-container {
        margin-left: 0;
    }
}