body {
    background-color: var(--bg-dark);
}

.hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.hero-section img {
    width: 60%;
}
