:root {
    --linkedin: #007DBE;
    --facebook: #3B5998;
    --phone: #30D84E;
}

.hero-section {
    background-color: var(--bg-dark);
}

.hero-section .content {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin: 4em 0;
}

.hero-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.hero-text-container h2 {
    text-align: left;
}

.hero-text-container p {
    text-align: left;
    font-weight: 300;
}

.hero-icons-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero-icons-container > div {
    width: fit-content;
    transition: opacity 0.1s ease;
}
.hero-icons-container > div:hover {
    opacity: 0.6;
}

.hero-icon {
    font-size: 1.25em;
    padding: 0.4em;
    border-radius: 50%;
}

.hero-icon i {
    color: white;
}

.hero-icon-text {
    margin-left: 0.5em;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 500;
}

#linkedin-container .hero-icon {
    background-color: var(--linkedin);
}
#linkedin-container .hero-icon-text {
    color: var(--linkedin);
}

#facebook-container .hero-icon {
    background-color: var(--facebook);
}
#facebook-container .hero-icon-text {
    color: var(--facebook);
}

#phone-container .hero-icon {
    background-color: var(--phone);
}
#phone-container .hero-icon-text {
    color: var(--phone);
}

.hero-right {
    flex: 3;
}

.hero-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    border-radius: 25px;
    object-fit: cover;
    background-color: var(--border-muted);
}

.email-section {
    background-color: var(--bg);
}

.email-section .content{
    margin: 3em 0 4em 0;
}

.email-form {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "box-1 box-3"
    "box-2 box-3"
    "box-4 box-4";
    gap: 0.5em;
    margin-top: 0.5em;
}

.email-form > div {
    display: flex;
    flex-direction: column;
}

.email-form label {
    line-height: 2em;
}

.email-form input {
    height: 100%;
    border: 3px solid var(--border);
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--bg-light);
    font-size: 1.125em;
    transition: 0.1s ease;
}
.email-form input:hover {
    border-color: var(--border-muted);
    background-color: white;
}
.email-form input:focus {
    border-color: black;
    background-color: white;
}

.email-form textarea {
    height: 100%;
    border: 3px solid var(--border);
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--bg-light);
    font-size: 1.125em;
    transition: 0.1s ease;
    resize: none;
    overflow: hidden;
}
.email-form textarea:hover {
    border-color: var(--border-muted);
    background-color: white;
}
.email-form textarea:focus {
    border-color: black;
    background-color: white;
}

.message-input-container {
    margin-left: 1.5em;
}

.email-form > .message-button-container {
    flex-direction: row;
    justify-content: flex-end;
}

.message-button-container button {
    padding: 0.5em 1em;
    border: none;
    color: var(--bg-light);
    background-color: var(--border);    
    border-radius: 0.5em;
    font-size: 1.125em;
    transition: 0.1s ease;
}
.message-button-container button:hover {
    opacity: 0.75;
}
.message-button-container button:active {
    opacity: 0.75;
}

/* Media queries for å endre layout basert på skjerm størrelse */
@media (max-width: 800px) {
    .hero-right {
        display: none;
    }
}

@media (max-width: 550px) {
    .email-form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr auto;
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-3"
        "box-4";
        margin-top: 0.5em;
    }

    .message-input-container {
        margin-left: 0;
    }
}