.main-projects-section {
    background-color: var(--bg-dark);
    gap: 4em;
    padding-top: 4em;
}

.main-projects-section > div {
    display: flex;
    flex-direction: column;
    gap: 8em;
}

.project-container {
    display: grid;
    gap: 0.75em;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "box-6 box-4" 
    "box-1 box-2"
    "box-3 box-5";
    margin-bottom: 5em;
}

#project-1 {
    grid-template-columns: 4fr 3fr;
}

#project-2 {
    grid-template-columns: 3fr 4fr;
    grid-template-areas:
    "box-4 box-6" 
    "box-2 box-1"
    "box-5 box-3";
}

.project-container span {
    text-align: center;
    color: var(--danger);
    font-weight: 300;
    margin-bottom: -1em;
}

.project-images-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.project-image {
    display: none;
}

.project-image-active {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 25px;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: block;
    border: 4px solid var(--text-muted);
    cursor: pointer;
}

.project-images-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 2px 0;
}

.project-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--border-muted);
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.project-images-buttons button:hover {
    background-color: var(--border);
}

.project-button-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--border-muted);
    cursor: pointer;
    transition: background-color 0.1s ease;
    background-color: var(--secondary);
}

.project-text-container {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-text-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-text-container p {
    text-align: left;
}

.project-text-container > p {
    font-size: 1em;
}

.project-text-container a {
    text-align: center;
    transition: color 0.1s ease;
}
.project-text-container a:hover {
    color: var(--border);
}

/* Styling for bilde popupen som skjer når du trykker på en av bildene i prosjekt gallerie */
.image-modal-hidden {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background-color: #ffffff00;
    backdrop-filter: blur(0px);
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.image-modal-hidden.image-modal-active {
    background-color: #1c221c69;
    backdrop-filter: blur(8px);
    opacity: 1;
    visibility: visible;
}

.image-modal-image-hidden{
    width: 90vw;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.image-modal-image-hidden.image-modal-image-active {
    transform: scale(1);
}


/* Gjør om prosjekt galleri layouten til full vertikal når skjermen er mindre en 1100px bred */
@media(max-width: 1100px) {
    .project-container {
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
        "box-4"
        "box-2"
        "box-1"
        "box-3";
        margin-bottom: 5em;
        gap: 0.75em 0;
    }

    /* Bruker id her for selector specificitiy */
    #project-1 {
        grid-template-columns: 1fr;
    }
    #project-2 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "box-4"
        "box-2"
        "box-1"
        "box-3";
    }

    .project-text-container > p {
        margin: 1.5em 0;
    }
}